## 데이터 전처리
* 데이터를 조건에 따라 추출하고 원하는 형태로 데이터를 가공하는 것을 의미
* 원시 데이터를 분석 목적에 맞게 다른 형태로 가공하는 것
* 데이터 wrangling 또는 mungling 이라고 함

### 각 원소를 추출하는 방법은 boolean indexing을 이용하거나 전처리 전문 패키지 dplyr를 이용함

### 데이터프레임
* 서로 다른 자료형으로 구성된 데이터들로 만들어진 2차원 배열
* 겉으로 봤을때는 행렬과 비슷해 보임

In [ ]:
load('sungjuk.rdata')

In [ ]:
head(sungjuk)

### 데이터프레임 각 요소 접근
+ 데이터프레임명$변수명
+ 데이터프레임명[인덱스, 인덱스]

#### 이름열을 출력하는 방법

In [ ]:
sungjuk$name

In [ ]:
sungjuk[, 1]

In [ ]:
sungjuk[, 'name']

#### Tom의 성적

In [ ]:
sungjuk[2, ]

In [ ]:
sungjuk['Tom', ]   # 데이터프레임에서는 불가

In [ ]:
sungjuk[sungjuk$name=='Tom',]

#### Jane의 성적만 출력

In [ ]:
sungjuk[sungjuk$name=='Jane', c(2,3,4)]

In [ ]:
sungjuk[sungjuk$name=='Jane', c('eng','mat','sci')]

In [ ]:
sungjuk[sungjuk$name=='Jane', c(2:4)]

#### 성적 데이터프레임에서 총점/평균/학점 컬럼 추가하기
+ 데이터프레임명$변수명 <- 처리코드

In [ ]:
sungjuk$tot <- sungjuk$eng + sungjuk$mat + sungjuk$sci
sungjuk$avg <- round((sungjuk$eng + sungjuk$mat + sungjuk$sci) / 3, 1)
sungjuk$mean <- NULL
sungjuk

### 변수 줄여서 사용하기
+ attach/detach, with, within 함수 이용
+ attach(생략할 키워드)
+ detach(생략할 키워드)
+ 파생변수 생성에는 사용불가

In [47]:
load('sungjuk.rdata')

In [48]:
attach(sungjuk)
    eng + mat + sci
    round((eng + mat + sci) / 3, 1)
detach(sungjuk)

The following objects are masked from sungjuk (pos = 3):

    eng, mat, name, sci

[1] 265 271 188 233

[1] 88.3 90.3 62.7 77.7

In [ ]:
attach(sungjuk)
    tot <- eng + mat + sci
    avg <- round((eng + mat + sci) / 3, 1)
detach(sungjuk)

In [49]:
load('sungjuk.rdata')

In [53]:
with(sungjuk, {
    eng + mat + sci
    round((eng + mat + sci) / 3, 1)
})

[1] 88.3 90.3 62.7 77.7

In [52]:
load('sungjuk.rdata')

#### within : 파생변수 생성에 사용가능 - 단 생성후 해당 데이터프레임에 저장 필요

#### 파생변수 초기화

In [71]:
sungjuk$tot <- c(0,0,0,0)
sungjuk$avg <- c(0,0,0,0)

In [72]:
sungjuk <- within(sungjuk, {
    avg <- round((eng + mat + sci) / 3, 1)
    tot <- eng + mat + sci
})

In [73]:
sungjuk

  name eng mat sci avg  tot
1 John 90  85  90  88.3 265
2 Tom  95  96  80  90.3 271
3 Mark 69  49  70  62.7 188
4 Jane 78  95  60  77.7 233

### 매니저 평점 데이터에서 나이 컬럼의 값에 따라 다음의 기준으로 ages라는 컬럼을 생성함

+ 나이 20~30 : 청년

+ 나이 31~45 : 중년

+ 나이 46~65 : 장년

+ 나이 66~   : 노년

In [68]:
load('leadership.rdata')

In [69]:
head(leadership)

  manager date     country gender age q1 q2 q3 q4 q5
1 1       10/24/14 US      M      32  5  4  5   5  5
2 2       10/28/14 US      F      45  3  5  2   5  5
3 3       10/01/14 UK      F      25  3  5  5   5  2
4 4       10/12/14 UK      M      39  3  3  4  NA NA
5 5       05/01/14 UK      F      99  2  2  1   2  1

In [70]:
str(leadership)

'data.frame':	5 obs. of  10 variables:
 $ manager: int  1 2 3 4 5
 $ date   : Factor w/ 5 levels "05/01/14","10/01/14",..: 4 5 2 3 1
 $ country: Factor w/ 2 levels "UK","US": 2 2 1 1 1
 $ gender : Factor w/ 2 levels "F","M": 2 1 1 2 1
 $ age    : num  32 45 25 39 99
 $ q1     : num  5 3 3 3 2
 $ q2     : num  4 5 5 3 2
 $ q3     : num  5 2 5 4 1
 $ q4     : num  5 5 5 NA 2
 $ q5     : num  5 5 2 NA 1

In [78]:
leadership$ages <- c(0,0,0,0,0)

In [84]:
leadership <- within(leadership, {
    ages[age >=20 & age <= 30] = '청년'
    ages[age <=45 & age >= 31] = '중년'
    ages[age >=65 & age <= 46] = '장년'
    ages[age >=66] = '노년'
})

In [85]:
leadership

  manager date     country gender age q1 q2 q3 q4 q5 ages
1 1       10/24/14 US      M      32  5  4  5   5  5 중년
2 2       10/28/14 US      F      45  3  5  2   5  5 중년
3 3       10/01/14 UK      F      25  3  5  5   5  2 청년
4 4       10/12/14 UK      M      39  3  3  4  NA NA 중년
5 5       05/01/14 UK      F      99  2  2  1   2  1 노년